* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    width: 390px;
    font-family: 'GreatVibes', 'Times New Roman', serif;
}

span {
    font-weight: bold;
    font-style: italic;
}

@keyframes text-pop-up-top {
    0% {
        transform: translateY(0);
        transform-origin: 50% 50%;
        text-shadow: none;
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100% {
        transform: translateY(-3px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 5px 5px rgba(0, 0, 0, 0.3);
        color: #115989;
        opacity: 1;
    }
}

@keyframes text-shadow-pop-left {
    0% {
        text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
        transform: translateX(0);
    }

    100% {
        text-shadow: 0 1px #012622, 0 2px #012622, 0 3px #012622, 0 4px #012622, 0 5px #012622, 0 6px #012622;
        transform: translateX(-6px);
        color: #FFB6C1;
    }
}

.contains {
    display: flex;
    justify-content: center;
    width: 390px;

}

.firstContainer,
.wrapper,
.contains {
    position: absolute;
}

.wrapper {
    width: 390px;
    padding-top: 300px;
    height: 990px;
    border: 2px solid #b8b9bb;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(2, 2, 2, 0.753);
    /* Spanish crimson */
    background-color: #E51A4C;
    z-index: -5;

    p {
        text-align: center;
        font-size: 76px;
        /* Light pink */
        color: #FFB6C1;
        font-family: 'GreatVibes';
        text-shadow: #212121 0px 0px 1px, #212121 0px 0px 1px, #212121 0px 0px 1px,
            #212121 0px 0px 1px, #212121 0px 0px 1px, #212121 0px 0px 1px;
        animation: text-shadow-pop-left 2s forwards ease-in;
    }
}

#confetti {
    height: 1000px;
    width: 390px;
    position: relative;
}

.firstContainer {
    width: 390px;
    background-color: #FCF6F5;
    height: max-content;
    margin-top: 4px;
    margin-bottom: 7px;
    border-top: 2px solid #0055ff;
    border-left: 2px solid #b8b9bb;
    border-right: 2px solid #b8b9bb;
    border-bottom: 2px solid #0055ff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(2, 2, 2, 0.753);
    z-index: -10;
    margin-left: 4px;
}

.imgSection {
    display: grid;
    grid-template-columns: 185px 185px;
    grid-template-rows: 245px;
    gap: 3px 5px;
    justify-content: center;
    justify-items: center;
    padding-top: 2px;
    width: 385px;
    height: 495px;

    img {
        margin-top: 5px;
        width: 180px;
        height: 235px;
        border-bottom: 1px solid #b8b9bb;
        border-right: 1px solid #b8b9bb;
        border-radius: 5px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        position: relative;
        outline: 1.5px solid #DFC5FF;
        outline-style: inset;
    }
}

.animate-text {
    display: flex;
    justify-content: center;
    padding-left: 2px;
    color: #FCF6F5;
    animation: text-pop-up-top 4s 6s forwards ease-in;

    p {
        font-size: 33px;
        font-family: 'MedusaGothic';
    }
}

.textSection {
    width: 380px;
    margin-bottom: 5px;
    padding-right: 2px;
    padding-top: 2px;
    padding-left: 3px;
}

.text-section-p {
    padding-left: 2px;

    .p1 {
        font-family: "Times New Roman", Times, serif;
        font-size: 17px;
        font-style: oblique;
        text-align: justify;

        span {
            font-size: 12px;
            font-weight: bold;
            color: #cf0474;
            font-family: 'MedusaGothic';
            letter-spacing: 0.5px;
        }
    }

    .p2 {
        margin-top: 10px;
        font-family: "Times New Roman", Times, serif;
        font-size: 17px;
        font-style: oblique;
        text-align: justify;

        span {
            font-size: 12px;
            font-weight: bold;
            color: #cf0474;
            font-family: 'MedusaGothic';
        }
    }

    .p3 {
        margin-top: 10px;
        font-family: "Times New Roman", Times, serif;
        font-size: 17px;
        font-style: oblique;
        text-align: justify;

        span {
            font-size: 12px;
            font-weight: bold;
            color: #cf0474;
            font-family: 'MedusaGothic';
        }
    }

    .p4 {
        margin-top: 10px;
        font-family: "Times New Roman", Times, serif;
        font-size: 17px;
        font-style: oblique;
        text-align: justify;

        span {
            font-size: 12px;
            font-weight: bold;
            color: #cf0474;
            font-family: 'MedusaGothic';
        }
    }
}

.audio-text1 {
    position: absolute;
    top: 1930px;
    left: 2px;
    width: 389px;
    height: 30px;
    border-top: 2px solid #DFC5FF;
    border-left: 2px solid #b8b9bb;
    border-right: 2px solid #b8b9bb;
    border-bottom: 2px solid #DFC5FF;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(2, 2, 2, 0.753);
    background-color: #E51A4C;

    p {
        text-align: center;
        font-family: 'EmilysCandy';
        font-weight: bold;
        font-style: italic;
        font-size: 18px;
        color: #FFB6C1;
    }
}

.Audio {
    width: 390px;
    padding-bottom: 3px;
    top: 1975px;
    position: absolute;
}

.Audio1 {
    position: absolute;
    top: 2035px;
    width: 390px;
    padding-bottom: 3px;
}

.watermark {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2100px;
    width: 390px;
    left: 2px;
    font-family: 'EmilysCandy';
    border-top: 2px solid #DFC5FF;
    border-left: 2px solid #b8b9bb;
    border-bottom: 2px solid #DFC5FF;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(2, 2, 2, 0.753);
    background-color: #FFB6C1;

    p {
        font-size: 10px;
    }
}